/* .para {
    width: 90%;
    margin: 0 auto;
    height: 20vh;
    background-attachment: fixed;
    background-image: url'../../public/images/dandelion.jpg');
    background-size: 100% 100vh;
} */
