
.header {
    padding: 20 px 35px;
    background-color: #c791c6;
    color: #01423e;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-attachment: fixed;
    background-position: 80;

}

.header h1 {
    display: inline-block;
    font-size: 60px;
    font-weight: bold;
    margin:0;

}

.header h1 .Jen {
    color: #400142;
    text-decoration: none;
    margin-left: 15px;
    
}

.header div ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   list-style: none;
   font-weight: bold;
   font-size: 25px;
   color: #400142
}

.header div ul li {
    margin-left: 25px;
    
}

.header div {
    padding-top: 15px;
    margin-right: 50px;
    float:right;
    font-family:  Garamond, serif;
    font-size: 18px;
}

.project-1, .project-2, .project-3, .project-4, .about-me{
    margin-bottom: 65px;
    padding: 2%;
    font-family: Garmond, serif;
    background-color: #c791c6;
    color: #400142;
    flex: 0 70%;
    
}

.project-1 img, .project-2 img, .project-3 img, .project-4, .about-me {
    max-height: 400px;
}

.project-1:hover, .project-2:hover, .project-3:hover, .project-4:hover, .about-me:hover {
    background-color: whitesmoke;
    border: 2px solid black;
    box-shadow: 10px 10px 10px lightslategrey;
}